asgiref==3.2.10
Django==3.1
pytz==2020.1
sqlparse==0.3.1
psycopg2==2.7.7
gunicorn==20.0.4
dj-static==0.0.6
dj-database-url==0.3.0
appnope==0.1.0
decorator==4.0.4
gnureadline==6.3.3
ipython==4.0.0
ipython-genutils==0.1.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
simplegeneric==0.8.1
static3==0.6.1
traitlets==4.0.0
channels==2.4.0
channels-redis==3.1.0
django-redis-cache==2.1.1
enum-compat==0.0.2
eventlet==0.27.0
python-engineio
python-socketio
six==1.15.0
pandas==1.1.5
scikit-learn==0.24.1
django-crontab==0.7.1
psycopg2-binary==2.8.6
APScheduler==3.0.0