{% extends "base.html" %}

{% block content %}
<style>
    #chatbox{
        border: 2px solid black;background-color: #dddda2;
        line-height: 2px;font-size: small;
        width: 250px;margin-left:auto;margin-right:auto;
        text-align: left;padding-left: 5px;
        height: 200px;overflow-y:auto;overflow-x: clip;
    }
    #chatbox div{
        background-color: #ffffff;padding-top: 5px;padding-left: 10px;padding-right: 10px;padding-bottom: 5px;
        margin-top: 10px;min-height: 10px;width: fit-content;word-wrap: break-word;
        border-radius: 5px;text-overflow: initial;max-width: 200px;line-height: 100%;
    }
</style>
<script>
    function chat(){
        v=document.getElementById('input').value;
        document.getElementById('input').value='';
        var req=new XMLHttpRequest();
        req.open("get","/chat/?v="+v);
        req.send();
    }
    window.onload = function(){
        var req2=new XMLHttpRequest();
        req2.open("get","/chatroom/");
        req2.send();
        req2.onload=function(){
            py=JSON.parse(this.responseText);
            document.getElementById('chatbox').innerHTML=py.res
            setTimeout(function(){
                var objDiv = document.getElementById("chatbox");
                objDiv.scrollTop = objDiv.scrollHeight;
            },10)
        }    
        
        setInterval(function(){ 
            var req2=new XMLHttpRequest();
            req2.open("get","/chatroom/");
            req2.send();
            req2.onload=function(){
                py=JSON.parse(this.responseText);
                if (document.getElementById('chatbox').innerHTML!=py.res) {
                    document.getElementById('chatbox').innerHTML=py.res
                    var objDiv = document.getElementById("chatbox");
                    objDiv.scrollTop = objDiv.scrollHeight;
                }
                
            }          
        }, 100);
     }
</script>
<h1>聊天</h1>
<div id="chatbox" ></div>
<br>

<input type="text" id="input" name="input" onchange="chat();" class="btn" placeholder="輸入訊息"><br><br>
<a href="/clearchat/" class="btn">清除記錄</a>

{% endblock %}  