{% extends "base.html" %}

{% block content %}
<a href="/kaggle1/">
<div class="btn" style="margin:10px; width:16%; display:inline-block">
    台新資料
</div><a/>
<a href="/kaggle2/">
<div class="btn" style="margin:10px; width:16%; display:inline-block">
    GPU Kernel Performance
</div><a/>
<a href="/kaggle3/">
<div class="btn" style="margin:10px; width:16%; display:inline-block;background-color: #6CcF70;
                color: white;">
    Classify Gestures
</div><a/>
<a href="/kaggle4/">
<div class="btn" style="margin:10px; width:16%; display:inline-block">
    Bankruptcy Prediction
</div><a/>
{% endblock %}