{% extends "base.html" %}
{% load static %}
{% block content %}
<a href="/kaggle1/">
<div class="btn" id='kagbtn'>
    個人資產預測
</div></a>
<a href="/kaggle2/">
<div id='kagbtn' class="btn" >
    GPU Kernel Performance
</div></a>
<a href="/kaggle3/">
<div class="btn" id='kagbtn' >
    Classify Gestures
</div></a>
<a href="/kaggle4/">
<div class="btn" id='kagbtn' >
    Bankruptcy Prediction
</div></a>
<br>




<table id='score' class='kagscore' style="vertical-align:top; margin:5px; max-width:24%;display:inline-block">
    <tr><th colspan="3">個人資產預測</th></tr>

    <tr>
    <th>組別</th>
    <th>分數</th>
    <th>次數</th>
    </tr>
{{table1 | safe}}
</table>
</div>


<table id='score' class='kagscore' style="vertical-align:top; margin:5px; max-width:24%;display:inline-block">
    <tr><th colspan="3">GPU Kernel Performance</th></tr>
    <tr>
    <th>組別</th>
    <th>分數</th>
    <th>次數</th>
    </tr>
{{table2 | safe}}
</table>
</div>


<table id='score' class='kagscore' style="vertical-align:top; margin:5px; max-width:24%;display:inline-block">
    <tr><th colspan="3">Classify Gestures</th></tr>
    <tr>
    <th>組別</th>
    <th>分數</th>
    <th>次數</th>
    </tr>
{{table3 | safe}}
</table>
</div>


<table id='score' class='kagscore' style="vertical-align:top; margin:5px; max-width:24%;display:inline-block">
    <tr><th colspan="3">Bankruptcy Prediction</th></tr>
    <tr>
    <th>組別</th>
    <th>分數</th>
        <th>次數</th>
    </tr>
{{table4 | safe}}
</table>
</div>
{% endblock %}