{% extends "base.html" %}
{% load static %}
{% block content %}
<a href="/kaggle1/">
<div class="btn" id='kagbtn'>
    個人資產預測
</div></a>
<a href="/kaggle2/">
<div id='kagbtn' class="btn" >
    GPU Kernel Performance
</div></a>
<a href="/kaggle3/">
<div class="btn" id='kagbtn' >
    Classify Gestures
</div></a>
<a href="/kaggle4/">
<div class="btn" id='kagbtn' >
    Bankruptcy Prediction
</div></a>
<br>



<div style='width:24%;align-items: center;display: inline-block;vertical-align:top;'>
<table id='score' class='kagscore' style="vertical-align:top; margin:5px; width:100%;">
    <tr><th colspan="2">個人資產預測</th></tr>

    <tr>
    <th>組別</th>
    <th>分數</th>
    </tr>
    {%for k,v in dic1.items%}
        <tr>
        <td>{{k}}</td>
        <td>{{v}}</td>
        </tr>
    {%endfor%}
</table>
</div>

<div style='width:24%;text-align: center;display: inline-block;vertical-align:top;'>
<table id='score' class='kagscore' style="vertical-align:top; margin:5px; width:100%;">
    <tr><th colspan="2">GPU Kernel Performance</th></tr>
    <tr>
    <th>組別</th>
    <th>分數</th>
    </tr>
    {%for k,v in dic2.items%}
        <tr>
        <td>{{k}}</td>
        <td>{{v}}</td>
        </tr>
    {%endfor%}
</table>
</div>

<div style='width:24%;text-align: center;display: inline-block;vertical-align:top;'>
<table id='score' class='kagscore' style="vertical-align:top; margin:5px; width:100%;">
    <tr><th colspan="2">Classify Gestures</th></tr>
    <tr>
    <th>組別</th>
    <th>分數</th>
    </tr>
    {%for k,v in dic3.items%}
        <tr>
        <td>{{k}}</td>
        <td>{{v}}</td>
        </tr>
    {%endfor%}
</table>
</div>

<div style='width:24%;text-align: center;display: inline-block;vertical-align:top;'>
<table id='score' class='kagscore' style="vertical-align:top; margin:5px; width:100%;">
    <tr><th colspan="2">Bankruptcy Prediction</th></tr>
    <tr>
    <th>組別</th>
    <th>分數</th>
    </tr>
    {%for k,v in dic4.items%}
        <tr>
        <td>{{k}}</td>
        <td>{{v}}</td>
        </tr>
    {%endfor%}
</table>
</div>
{% endblock %}