{% extends "base.html" %}

{% block content %}
<script>
    function searchname(){
        v=document.getElementById('sname').value
        v2=document.getElementById('sid').value
        var req=new XMLHttpRequest();
        req.open("get","/searchname/?v="+v+"&v2="+v2);
        req.send();
        req.onload=function(){
            py=JSON.parse(this.responseText);
            document.getElementById("score").innerHTML='<tr><th>組別</th><th>學號</th><th>姓名</th>'+
    {% for i in weeks %}
        '<th colspan="{{i.nums}}">{{i.name}}</th>'+
    {% endfor %}
    '<th>積分</th></tr>'+py.res;
        }
    }
    function searchid(){
        v=document.getElementById('sid').value
        var req=new XMLHttpRequest();
        req.open("get","/searchid/?v="+v);
        req.send();
        req.onload=function(){
            py=JSON.parse(this.responseText);
            document.getElementById("score").innerHTML='<tr><th>組別</th><th>學號</th><th>姓名</th>'+
    {% for i in weeks %}
        '<th colspan="{{i.nums}}">{{i.name}}</th>'+
    {% endfor %}
    '<th>積分</th></tr>'+py.res;
        }
    }

</script>
<input onkeyup="searchname();" id="sid" name="sid" placeholder="搜尋學號"/>
<input onkeyup="searchname();" id="sname" name="sname" placeholder="搜尋姓名"/>
<br>

<table id='score' style="text-align: center;display: inline-block;">
    <tr>
    <th>組別</th>
    <th>學號</th>
	<th>姓名</th>
    {% for i in weeks %}
        <th colspan="{{i.nums}}">{{i.name}}</th>
    {% endfor %}
    <th>積分</th>
    </tr>
    {{table | safe}}
</table>
{% endblock %}  