{% extends "base.html" %}

{% block content %}
<script>
    function test(){
        v=document.getElementById('a').value
        var req=new XMLHttpRequest();
        req.open("get","/searchname/?v=urlencode"+v+")");
        req.send();
        req.onload=function(){
            py=JSON.parse(this.responseText);
            document.getElementById("score").innerHTML='<tr><th>組別</th><th>姓名</th>'+
    {% for i in weeks %}
        '<th colspan="{{i.nums}}">{{i.name}}</th>'+
    {% endfor %}
    '<th>積分</th></tr>'+py.res;
        }
    }

</script>
<input onkeyup="test();" id="a" name="a" placeholder="搜尋姓名"/>


<table id='score' style="text-align: center;display: inline-block;">
    <tr>
    <th>組別</th>
	<th>姓名</th>
    {% for i in weeks %}
        <th colspan="{{i.nums}}">{{i.name}}</th>
    {% endfor %}
    <th>積分</th>
    </tr>
    {{table | safe}}
</table>
{% endblock %}  