{% extends "base.html" %}

{% block content %}
<h1>打分數</h1>
<form action="." method="post">{% csrf_token %}
    {% if user.0 %}
        <label for="sco1">{{user.0.name}}</label>
        <input type="number" step="0.01" value="{{orig.0}}" name="sco1" id="sco1"><br>
    {% endif %}
    {% if user.1 %}
        <label for="sco2">{{user.1.name}}</label>
        <input type="number" step="0.01" value="{{orig.1}}" name="sco2" id="sco2"><br>
    {% endif %}
    {% if user.2 %}
        <label for="sco3">{{user.2.name}}</label>
        <input type="number" step="0.01" value="{{orig.2}}" name="sco3" id="sco3"><br>
    {% endif %}
    {% if user.3 %}
        <label for="sco4">{{user.3.name}}</label>
        <input type="number" step="0.01" value="{{orig.3}}" name="sco4" id="sco4"><br>
    {% endif %}
    {% if message %}
    <p style="color: #ee0000;">{{message}}</p>
    {% endif %}<br>
    <input type="submit" value="確認" class="btn"><br>
</form>
{% endblock %}  