{% extends "base.html" %}

{% block content %}

<style>
    th,td{
        padding: 5px;border: 2px solid #000000;border-collapse: collapse;
    }
    #teach input{
        max-width: 30px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"]{
        -moz-appearance: textfield;
    }
</style>
<table class='teach' style="text-align: center;display: inline-block;
border-collapse: collapse;background-color: #ffffff;
margin: 30px;font-size: small;
overflow-x: auto;
" >
    <tr>
    <th>組別</th>
	<th>姓名</th>
    {% for i in weeks %}
        <th colspan="{{i.nums}}">{{i.name}}</th>
    {% endfor %}
    <th>積分</th>
    </tr>
    {{table1 | safe}}
</table><br><h1>打分數</h1>
<form action="." method="post">{% csrf_token %}
<table class='teach' style="text-align: center;display: inline-block;
    border-collapse: collapse;background-color: #ffffff;
    margin: 30px;font-size: small;
    overflow-x: auto;
    " >
    {{ table | safe }}
</table>
{% if message %}
        <p style="color: #ee0000;">{{message}}</p>
        {% endif %}
<input type="submit" value="確認" class="btn" style="width: 100px;"><br>
</form>
{% endblock %}  