{% extends "base.html" %}

{% block content %}
<h1>打分數</h1>
<style>
    th,td{
        padding: 5px;border: 2px solid #000000;border-collapse: collapse;
    }
    #teach input{
        max-width: 50px;
    }
</style>
<form action="." method="post">{% csrf_token %}
<table id='teach' style="text-align: center;display: inline-block;
    border-collapse: collapse;background-color: #ffffff;
    margin: 30px;font-size: small;
    overflow-x: auto;
    " >
    {{ table | safe }}
</table>
{% if message %}
        <p style="color: #ee0000;">{{message}}</p>
        {% endif %}
<input type="submit" value="確認" class="btn" style="width: 100px;"><br>
</form>
{% endblock %}  