{% extends "base.html" %}

{% block content %}
<style>
    th,td{
        padding: 10px;border: 2px solid #000000;border-collapse: collapse;
    }
</style>
<table id='teach' style="text-align: center;display: inline-block;
border-collapse: collapse;background-color: #ffffff;
margin: 30px;font-size: small;
overflow-x: auto;
" >
    <tr>
    <th>組別</th>
	<th>姓名</th>
    {% for i in weeks %}
        <th colspan="{{i.nums}}">{{i.name}}</th>
    {% endfor %}
    <th>積分</th>
    </tr>
    {{table | safe}}
</table><br>
<a href='/neweek/' class="btn">新增week</a><br>
<h1>打分數</h1>
<form action="." method="post">{% csrf_token %}
    <label for="week">周次</label>
    <select id="week" name="week">
        {% for w in weekna %}
      <option value="{{w.0}}">{{w.1}}</option>
        {% endfor %}
    </select><br>
    <label for="teamname">組別</label>
    <select id="teamname" name="teamname">
        {% for t in teamna %}
        <option value="{{t.0}}">{{t.1}}</option>
        {% endfor %}
    </select><br>
    <!--<label for="num">第幾題</label>
    <select id="num" name="num">
      <option value="1">第一題</option>
      <option value="2">第二題</option>
      <option value="3">第三題</option>
      <option value="4">第四題</option>
    </select><br>-->
    {% if message %}
    <p style="color: #ee0000;">{{message}}</p>
    {% endif %}<br>
    <input type="submit" value="確認" class="btn"><br>
</form><br>
<a href="/teachlogout/" class="btn">登出</a>
{% endblock %}  