{% extends "base.html" %}

{% block content %}
<script>
    function clearscore(){
        var y = document.getElementById("scoring").rows.length;
        var x = document.getElementById("scoring").rows[0].cells.length;
        console.log(x,y);
        for (i=0;i<x-1;i++){
            for(j=0;j<y-1;j++){
                document.getElementById('sco'+j+i).value=0;
            }
        }
    }
    function autoscore(){
        var y = document.getElementById("scoring").rows.length;
        var x = document.getElementById("scoring").rows[0].cells.length;
        console.log(x,y);
        for (i=0;i<x-1;i++){
            to=0;
            
            for(j=0;j<y-1;j++){
                to+=parseFloat(document.getElementById('sco'+j+i).value);
                console.log(to);
            }
            for(j=0;j<y-1;j++){
                if(document.getElementById('sco'+j+i).value==0){
                    document.getElementById('sco'+j+i).value=((2*to)/3).toFixed(2);
                    
                }
            }
        }
    }
    function score(){
        w=document.myform.week.selectedIndex;
        t=document.myform.teamname.selectedIndex;
        input={{table | safe}};
        document.getElementById('scoring').innerHTML=input[w][t];
    }
</script>
<style>
    a.btn{
        min-height: fit-content;padding: 10px 20px;
    }
    th,td{
        padding: 5px;border: 2px solid #000000;border-collapse: collapse;
    }
    .teach input{
        max-width: 30px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"]{
        -moz-appearance: textfield;
    }
</style>
</style>
<table class='teach' style="text-align: center;display: inline-block;
border-collapse: collapse;background-color: #ffffff;
margin: 30px;font-size: small;
overflow-x: auto;
" >
    <tr>
    <th>組別</th>
    <th>學號</th>
	<th>姓名</th>
    {% for i in weeks %}
        <th colspan="{{i.nums}}">{{i.name}}</th>
    {% endfor %}
    <th>積分</th>
    </tr>
    {{table1 | safe}}
</table><br>
<a href='/neweek/' class="btn">新增week</a><br>
<h1>打分數</h1>
<form action="." method="post" name="myform">{% csrf_token %}
    <label for="week">周次</label>
    <select id="week" name="week">
        {% for w in weekna %}
      <option value="{{w.0}}">{{w.1}}</option>
        {% endfor %}
    </select><br>
    <label for="teamname">組別</label>
    <select id="teamname" name="teamname">
        {% for t in teamna %}
        <option value="{{t.0}}">{{t.1}}</option>
        {% endfor %}
    </select><br>
    <!--<label for="num">第幾題</label>
    <select id="num" name="num">
      <option value="1">第一題</option>
      <option value="2">第二題</option>
      <option value="3">第三題</option>
      <option value="4">第四題</option>
    </select><br>-->
    {% if message %}
    <p style="color: #ee0000;">{{message}}</p>
    {% endif %}<br>
    <a onclick="score()" class='btn'>選擇完畢</a><br>
    <table class='teach' id='scoring' style="text-align: center;display: inline-block;
    border-collapse: collapse;background-color: #ffffff;
    margin: 30px;font-size: small;
    overflow-x: auto;overflow-y: auto;
    " >
    </table>
    <br>
    <input type="button" onclick="clearscore();" class="btn" value='清空'></input>
    <input type="button" onclick="autoscore();" class="btn" value="自動填補"></input>
    <input type="submit" value="確認" class="btn"><br>
</form><br>
<a href="/teachlogout/" class="btn">登出</a>
{% endblock %}  